.AdminOrderDetails{
    padding: 20px;
    display: grid;
}
.AdminOrderTable i{
    color: #1a8754;
    cursor: pointer;
}
.AdminOrderStatus{
    background-color: #1a8754;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 14px;
    color: #fff;
}