.sideBarSection li{
    list-style-type: none;
    padding: 17px 80px 17px 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #29335d;
}
.sideBarSection i{
    color: #acb5bd;
}
.LogoutBtn {
    border: none;
    background: none;
    padding: 0;
    text-align: start;
    padding: 17px 80px 17px 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #29335d;
}
.LogoutBtn i{
    color: #acb5bd;
}
.sideBarSection{
    padding: 20px 25px 0 15px;
}
.sideBarSection ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sideBarSection li:hover{
    background-color: #ebf0fd;
}
.LogoutBtn:hover{
    background-color:#ebf0fd;
    transition: 10ms;

}