.adminSideBar{
    min-height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid rgba(0, 0, 0, .125);
}
.pageContent{
    display: flex;
}
.tableBody{
    flex: 1;
    padding: 45px 40px;
    background-color: #f8f9fa
}