.Heading{
    display: flex;
    align-items: center;
    gap: 30px;
}
.headerList{
    flex: 1;
}
.headerLogo{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 98px;
}
.headerList ul{
    display: flex;
    gap: 20px;
}
.headerList li{
    list-style-type: none;
    color: black;
    font-size: 17px;
    font-weight: 500;
}
.headerList li:hover{
    color: #FD8F5F;
}
.productCart{
    color: black;
    cursor: pointer;
    position: relative;
}
.CartValue{
    background: #FD8F5F;
    border-radius: 100px;
    color: #fff;
    width: 19px;
    justify-content: center;
    align-items: center;
    height: 19px;
    position: absolute;
    top: 14px;
    left: 12px;
    display: flex;
    font-size: 15px;
}
.yourOrders{
    color: black;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
.yourOrders:hover{
    color: #FD8F5F;
}
.logoutBtn{
    border: none;
    background: none;
    padding: 0;
    text-align: start;
    font-size: 18px;
    font-weight: 500;
    color: black;
    cursor: pointer;
}
.logoutBtn:hover{
    color: #FD8F5F;
}
.searchInput{
    width: 200px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
}